// Cards -Skill Home
.card-skill-progress {
	display: inline-block;
	text-align: center;
	.card-body {
		position: relative;
		background: transparent;
		border: 6px solid var(--black-blue);
		border-radius: 50%;
		width: 7.5em;
		height: 7.5em;
		overflow: hidden;
		margin: auto;
	}
}
.card-skill-rounded {
	background: linear-gradient(0deg, #080808 0%, #111111 100%);
	position: absolute;
	width: 6.5em;
	height: 6.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f7dab2;
    text-shadow: 0 0 24px #fff, 0 0 51px #fff, 0 0 8px #AE9B81, 0 0 119px #AE9B81, 0 0 126px #9E7A46, 0 0 92px #9E7A46, 0 0 95px #666204, 0 0 100px #666204;
	z-index: 1;
}
.card-skill-rounded-effect {
	position: absolute;
	width: 7.3em;
	height: 7.3em;
	bottom: -100%;
    background: linear-gradient(0deg, #f5dd54 0%, #e98613 100%);
	transition: bottom 6s;
}
// Cards - Artists - Home
.card-reflect-below {
	width: 275px;
	height: 435px;
	margin: auto;
	padding: 8px;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	background: linear-gradient(#EBB467, #EBD1AE, #9E7A46);
	-webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0,0,0,0.2));
	.car-body {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-color: #26180685;
		color: #fff;
		padding: 16px;
		display: flex;
		flex-direction: column;
		justify-content: end;
		transition: 1.3s;
		h2 {
			position: absolute;
			top: 10px;
			text-align: center;
			width: 100%;
			right: -8px;
			padding: 10px 0;
		}
		.card-info-service {
			position: absolute;
			bottom: 12px; width: 100%;
			font-weight: 600;
			left: 8px;
			padding: 12px;
			a { text-decoration: none }
		}
	}
}
@media(min-width: 1200px) {
	// Cards - Artists - Home
	.card-reflect-below {
		.car-body {
			left: auto;
			right: -100%;
			backdrop-filter: blur(5px);
			color: #fff;
			padding: 30px;
			justify-content: center;
		}
		&:hover .car-body { right: 0 }
	}
}