// Geometrics forms
@mixin squared($width, $height) {
    width: $width;
    height: $height;
}
// Height
.gold-h-min-content { height: min-content }
.gold-h-6px { height: 6px }
.gold-h-205px { height: 205px }
// lists
.listyle-none { list-style: none }
// Margins
.gold-mt-7em { margin-top: 7em } 
// Positions
.gold-top-0 { top: 0 }
.gold-right-0 { right: 0 }
.gold-tr-0 { 
    top: 0;
    right: 0;
}
// Line height
.gold-lh-05 { line-height: .5 }
.gold-lh-2 { line-height: 2; }
// Width
.gold-web-fill { width: -webkit-fill-available }
// Z-Index
.gold-zindex-1 { z-index: 1 }
.gold-zindex-205 { z-index: 205 }
// Custom Styles
.gold-mt-body { margin-top: 5.5em; }
.gold-bar-video {
    @include squared(100%, 205px);
    position: absolute;
    top: 50%;
    z-index: 0; 
    transform: translate(0, -50%);
} 
.gold-bar-video.gold-thin {   background-color: var(--gold-thin) }
.gold-bar-video.pink-thin {   background-color: var(--pink-thin) }
.gold-bar-video.black-thin {  background-color: var(--black-thin) }
.gold-box-comment {
    min-height: 150px;
    max-height: 530px;
    overflow-y: auto;
}
.gold-comment { position: relative;
    .gold-comment-text{ border-left: 3px solid #EBB467 }
}
.gold-box-video { @include squared(100%, 325px) }
// Texto de comentarios
.gold-more-text span { display: none }
@media(min-width: 500px) {
    .gold-box-video { @include squared(480px, 325px) }
}
@media(min-width: 768px) {
    // Custom Styles
    .gold-mt-body { margin-top: 6.5em }
}
@media(min-width: 992px) {
    // Custom Styles
    .gold-mt-body { margin-top: 4.5em }
}